* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/board-chalk-chalk-board-chalkboard-625219.jpg");
    background-size: cover;
    color: #ffffff;
    background-color: #000;
    background-attachment: fixed;
}

.container-fluid {
    margin-top: 30px;
    text-align: center;
}

textarea {
    border: 1px solid black;
}